<table>
  <thead>
    <tr>
      <th>Package</th>
      <th>LSP support provided</th>
    </tr>
  </thead>
  <tbody>
    {{ range $.Site.Data.lsp_for_sublime_text_plugins }}
    <tr>
      <td>
        <a href="{{ .url }}">{{ .name }}</a>
      </td>
      <td>
        {{ .support_provided }}
      </td>
    </tr>
    {{ end }}
  </tbody>
</table>
